form{
   .form-control{

      min-height: 45px;
      @include font-size(16px);
      @include px(15px);
      @include border-radius(0);
      border: 1px solid var(--navy-blue-color);
      letter-spacing: 1px;
      background-color: var(--white-secondary-color);;
      color: var(--navy-blue-color);
      &:focus{
         outline: 0;
         @include box-shadow(inherit);
         border: 1px solid var(--navy-blue-color);
         background-color: var(--white-secondary-color);
         color: var(--navy-blue-color);
      }
      &:focus-visible{
         outline: 0;
      }
      &::-webkit-input-placeholder { 
         // color: $color-med-gray;
         color: var(--navy-blue-color);
       }       
       &:-ms-input-placeholder { 
         color: var(--navy-blue-color);
       }
       &::placeholder {
         color: var(--navy-blue-color);
       }
   }
}

